mixin collaborators(list,stylez)
	#collaborators(class="#{stylez}")
		if(list)
			| contributors
			br
			ul
				each item in list
					li(data-tooltip="#{item.author}")
						if item.email
							img(src=gravatar().url("#{item.email}", {s:16}))
